 @import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Kirang+Haerang&family=Mochiy+Pop+One&display=swap'); 
 .flex {
  display: flex;
} 

body {
  overflow-y: hidden;
  background: linear-gradient(#73aab7, #88bbb8 20.01%, #a3c9a5 44.54%, #eccd83 74.79%, #83894e 84.03%);
  height: 100vh;
  overflow-x: hidden;
}
.ind{
  display: flex;
  justify-content: center;
  align-items: center;
}
.crbg {
  background:linear-gradient(#f4f4f4, #778496);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pthsbg {
  background: linear-gradient(#b9e4eb 39.5%, #9fc16b);
} 



/* INDEX */

.rainbow,
.star {
  width: 10%;
  height: 15%;
  margin-left: -10px;
  margin-right: 100px;
  margin-top: -60px; 
}

/* Верхний слой */
.upperLayer {
  align-items: flex-start;
  justify-content: center;
}

.menu {
  align-items: flex-end;
  gap: 100px;
  justify-content: center;
}

.dog,
.cat {
  height: 14%; 
  width: 14%;
}

.login-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  text-align: center;
  margin-bottom: -10px;
  color: #4a4a4a;
}

.login-title {
  font-family: "Mochiy Pop One";
  background: linear-gradient(to bottom, #FDF9EF 35%, #EADBC5 62%, #DAC4AB 81%, #8A7154 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px; 
  text-shadow: 4px 1px 7px rgba(0, 0, 0, 0.11);
  margin: 0;
}

.sub-title {
  font-family: "Mochiy Pop One";
  background: linear-gradient(to bottom, #FDF9EF 35%, #EADBC5 62%, #DAC4AB 81%, #8A7154 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  text-shadow: 4px 1px 7px rgba(0, 0, 0, 0.11);
  margin-top: -10px;
}

.login-card {
  background: linear-gradient(180deg, #f7f1e3 0%, #e9e0cf 34.51%, #d1baa0 100%), #e6dbc8;
  box-shadow: 2px 12px 20px 10px rgb(0 0 0 / 39%);
  padding: 40px 20px;
  border-radius: 100px;
  text-align: center;
  width: 600px; 
  height: 450px; 
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 20px 0 20px;
}


.input-label {
  font-family: "Kirang Haerang";
  font-size: 35px; 
  color: #40527b;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.input-box {
  padding: 25px;
  border-radius: 90px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: inset 0px 4px 8px rgba(193, 118, 32, 0.581),
    0px 6px 12px rgba(193, 118, 32, 0.581);
  outline: none;
  transition: box-shadow 0.2s ease;
}

.input-box:focus {
  box-shadow: inset 0px 4px 8px rgb(238, 1, 1), 0px 6px 12px rgba(255, 0, 0, 0.15);
}

.signup-prompt {
  font-family: "Kirang Haerang";
  color: #40527b;
  font-size: 35px;
  margin: 35px 0 35px;
}

.btn {
  font-family: "Kirang Haerang";
  box-shadow: 0px 4px 5.5px 5px rgba(30, 30, 30, 0.42);
  color: #ffffff;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  width: 40%;
  font-weight: bold;
  transition: 0.4s ease;
  font-size: 28px; 
}

.btn:hover {
  background: #40527b;
}

.enter-button {
  background: linear-gradient(180deg, #ff95a2 0%, #f26667 100%);
  margin-top: 35px;
}

.create-button {
  background: linear-gradient(90deg, #6bcdc9 48.01%, #f4b32f 61.01%);
}

.enter-button-mobile {
  background: linear-gradient(180deg, #ff95a2 0%, #f26667 100%);
  margin-top: 35px;
  width: 100%;
}

.create-button-mobile {
  background: linear-gradient(90deg, #6bcdc9 48.01%, #f4b32f 61.01%);
  width: 100%; 
}



.ind {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  PHONE VERSION OF НАЧАЛЬНАЯ СТРАНИЧКА */

@media (max-width: 768px) {
  body {
    overflow-y: visible;
    background: #ffffff; 
    padding: 10px; 
    font-family: 'Arial', sans-serif;
  }

  .rainbow, .star, .dog, .cat {
    display: none;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
  }

  .login-card {
    width: 90%;
    height: auto;
    padding: 25px 15px;
    background: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    margin-top: 20px;
  }

  .login-title {
    font-size: 32px; 
    text-align: center;
    background:linear-gradient(to bottom, #40527b 35%, #90a9e5 62%, #40527b 81%);
    font-weight: bold;
    margin-bottom: 15px;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .sub-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    background:linear-gradient(to bottom, #40527b 35%, #90a9e5 62%, #40527b 81%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .input-label {
    font-size: 28px;
    margin-bottom: 10px;
    color: #40527b;
  }

  .input-box {
    font-size: 18px;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 90px;
    box-shadow: inset 0px 4px 8px rgba(75, 159, 197, 0.581),
    0px 6px 12px rgba(145, 193, 32, 0.581);
  outline: none;
  transition: box-shadow 0.2s ease;
  }

  .btn {
    font-size: 20px;
    width: 100%; 
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
  }

  .btn:hover {
    background-color: #40527b;
    color: white;
  }

  .enter-button-mobile {
    background: linear-gradient(180deg, #ff95a2 0%, #f26667 100%)
  }

  .create-button-mobile {
    background: linear-gradient(90deg, #6bcdc9 48.01%, #f4b32f 61.01%);
  }

  .signup-prompt {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #777;
  }

  .input-group {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
  }

}


/* PET HOUSE */
.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.button {
  padding: 20px 50px;
  border: none;
  border-radius: 30px;
  width: 15%;
  background: linear-gradient(145deg, #f9a825, #f57c00);
  color: rgb(0, 0, 0);
  font-family: "Geo";
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px 1px 4px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.button:hover {
  background: linear-gradient(145deg, #f57c00, #f9a825);
  transform: translateY(-3px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3), inset 0px 2px 6px rgba(255, 255, 255, 0.6);
}
.button:active {
  transform: translateY(0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px 1px 4px rgba(255, 255, 255, 0.5);
}
.shop {
  background: repeating-linear-gradient(#6bcfde, #51bbc9);
}
.shop:hover {
  background: repeating-linear-gradient(162deg, #359aa7, #6bcfde);
}
.settings {
  background: repeating-linear-gradient(#6bcfde, #51bbc9);
}
.settings:hover {
  background: repeating-linear-gradient(162deg, #359aa7, #6bcfde);
}
.exit {
  background: linear-gradient(145deg, #ef9a9a, #e57373);
}
.exit:hover {
  background: linear-gradient(145deg, #e57373, #ef9a9a);
}

/* main Content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  position: relative;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stats-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

}
.stats-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.stat {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 60px;
  height: 50px;
}
.progress-bar {
  width: 250px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.28);
}
.progress-fill {
  height: 100%;
  background: linear-gradient(#ede509 3.36%, rgba(180, 112, 74, 0.73));
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s ease;
}

.pet-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pet-circle {
  z-index: 1;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(14, 146, 164, 1) 49.16%,
    rgba(110, 207, 222, 1) 63.45%,
    rgba(217, 217, 217, 1) 66.39%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.pet-image {
  width: 350px;
  height: auto;
}

/* footer */
.footer {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding: 7%;
}
.circle-button {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: none;
  background: radial-gradient(
    circle,
    rgba(110, 207, 222, 1) 47.48%,
    rgb(94, 170, 182) 55.04%,
    rgba(217, 217, 217, 1) 63.45%
  );
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.circle-button-text {
  font-family: "Geo";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}
.circle-button img {
  width: 50px;
  height: 50px;
}
.circle-button span {
  margin-top: 5px;
  font-size: 12px;
}
.circle-button:hover {
  transform: scale(1.1);
}

.pause-btn {
  background: radial-gradient(
    circle,
    #ef9a9a 36.97%,
    #e57373 55.46%,
    rgba(217, 217, 217, 1) 63.45%
  );
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.progress-text {
  position: absolute;
  z-index: 80;
  font-size: 14px;
  font-family: "Geo";
  font-weight: lighter;
  width: 100%;
  text-align: right;
  color: #7e692c;
}
.greenRect {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
}
.clouds {
  position: absolute;
  width: 100%;
  height: auto;
  top: 5%;
  z-index: 0;
  pointer-events: none;
  overflow: visible;
}
.rectangular {
  position: absolute;
  width: 100%;
  /* height: 100px; */
  top: 200px;
}
.cloud {
  position: absolute;
  opacity: 0.9;
  animation: moveClouds 30s linear infinite;
}

.cloud-1 {
  width: 200px;
  top: 10%;
  left: -150px;
  animation-duration: 40s;
}

.cloud-2 {
  width: 250px;
  top: 25%;
  left: -250px;
  animation-duration: 55s;
}

@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 300px));
  }
}

/* Модальное окошко */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(117, 191, 207, 0.436);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.modal__content {
  background-color: #ffffff;
  padding: 20px;
  height: 600px;
  width: 600px;
  border-radius: 8px;
  text-align: center;
}

.modal__close-button {
  background-color: #ff6f61;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal__close-button:hover {
  background-color: #ff4f40;
}

/*  Mobilka version */

/* https://webcademy.ru/blog/739/?ysclid=m2uqiokt1y796580607   */
